#dev-container{
    mat-card{
        border-radius: 0px;
        box-shadow: none;
        height: 135px;
        padding: 0;
        text-transform: uppercase;
    }
    .title-card{
        display: flex;
        justify-content: center;
        padding-top: 20px;       
        font-weight: 500;
    }
    .subtitle-card{
        display: flex;
        justify-content: center;
    }
}