#dev-container{
    mat-card{
        border-radius: 0px;
        box-shadow: none;
        height: 135px;
        padding: 0;
    }
    .title-card{
        display: flex;
        justify-content: center;
    }
    .subtitle-card{
        display: flex;
        justify-content: center;
    }
}