#filter-container{
    padding: 30px;
    color: white;
    .radio-group-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .radio-button-container{
        margin-bottom: 15px;
    }
    ::ng-deep .mat-radio-outer-circle{
        border-color:white;
    }
    ::ng-deep .mat-radio-inner-circle{
        background-color:white;
    }
}